<div class="container mt-3">
    <div class="row">
        
        <p>Form value: {{ form.value | json }}</p>

        <form [formGroup]="form">
            <select name="select" id="select" class="form-select" aria-label="Default select example" formControlName="state" (change)="pegaValor()">
                <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
            </select>
            <button class="btn btn-secondary mt-3" type="button" (click)="pegaValor()">Salvar</button>
        </form>

    </div>
</div>




















<app-app2></app-app2>