<div class="container mt-5">
    <form class="form-horizontal" [formGroup]="formulario">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Calcular IMC</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
                <p>Peso</p>
            </div>
            <div class="col-10">
                <input aria-label="peso" type="text" class="form-control" formControlName="peso" (ngModelChange)="calcularImc()" [ngClass]="aplicaCssErro('peso')" mask="0*,0">
                <small *ngIf="pesoInvalido()">O peso deve ficar entre 0.1 e 400</small>
            </div>
        </div>
        <div class=" row mt-3">
            <div class="col-2">
                <p>Altura</p>
            </div>
            <div class="col-10">
                <input aria-label="altura" type="text" class="form-control " formControlName="altura" (ngModelChange)="calcularImc()" [ngClass]="aplicaCssErro('altura')" mask="0,00">
                <small *ngIf="alturaInvalida()">A altura deve ficar entre 0.5 e 2.5</small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <p>Resultado</p>
            </div>
            <div class="col-10">
                <input aria-label="resultado" type="number " class="form-control " [(ngModel)]="resultado" [ngModelOptions]="{standalone: true} " disabled>
            </div>
        </div>
    </form>
</div>